#designsentry{
margin:13px 0 20px;
display:inline;
float:left;
overflow:visible;
width: 840px;
background: none repeat scroll 0 0 #f7f7f7;
border: 1px solid #D9D9D9;
border-radius: 6px 6px 6px 6px;
padding:25px 13px 15px 19px;
float:left;
position:relative;
box-shadow: 0 0 0 1px #FFFFFF inset;
}
#designsentry .submit.uploadx{
padding:8px 0 0;
}
#designsentry p{
margin:0;
}
#designsentry ul{
width:188px;
padding:7px 7px 7px;
margin:0;
display:inline;
float:left;
overflow:hidden;
background:url("img/bcg.png") no-repeat scroll 0 0 #F0F0F0;
border:1px solid #d9d9d9;
border-radius:6px;
box-shadow:inset 0px 0px 0px 1px #ffffff;
}
#designsentry ul li{
list-style:none;
display:block;
border-bottom:1px solid #e1e1e1;
box-shadow:0px 1px 0px #fafafa;
height:auto;
width:188px;
margin:0px 0px 5px;
padding:0px 0px 5px;
}
#designsentry ul li:hover,#designsentry ul li.selected{
margin:0px 0px 5px;
padding:0px 0px 5px;
}
#designsentry ul li a{
color:#616161;
font:14px/38px Arial, sans-serif;
padding:0 10px;
font-weight:bold;
text-decoration:none;
display:block;
text-shadow:1px 1px #ffffff;
}
#designsentry ul li a:hover,#designsentry ul li.selected a{
color:#f9f9f9;
background:#666666;
border-radius:4px;
border:none;
box-shadow:inset 0 0 2px 2px #4f4f4f;
text-shadow:0px 1px #363636;
}
#designsentry div.tab{
margin:0 0 30px 8px;
padding:0px 20px 10px;
width:580px;
}
#designsentry div.tab,#designsentry div.setting{
display:inline;
float:left;
overflow:hidden;
background:#f0f0f0;
border:1px solid #d9d9d9;
border-radius:6px;
box-shadow:inset 0px 0px 0px 1px #ffffff;
}
#designsentry .ico_home{
height:28px;
width:24px;
display:inline;
float:left;
overflow:hidden;
background:url(img/icos.png) no-repeat 0px 11px transparent;
}
#designsentry ul li a:hover .ico_home,#designsentry ul li.selected .ico_home{
background-position:0px -29px;
}
#designsentry .ico_color{
height:28px;
width:25px;
display:inline;
float:left;
overflow:hidden;
background:url(img/icos.png) no-repeat -177px 11px transparent;
}
#designsentry ul li a:hover .ico_color,#designsentry ul li.selected .ico_color{
background-position:-177px -29px;
}
#designsentry .ico_logo{
height:28px;
width:25px;
display:inline;
float:left;
overflow:hidden;
background:url(img/icos.png) no-repeat -25px 11px transparent;
}
#designsentry ul li a:hover .ico_logo,#designsentry ul li.selected .ico_logo{
background-position:-25px -29px;
}
#designsentry .ico_grid{
height:28px;
width:25px;
display:inline;
float:left;
overflow:hidden;
background:url(img/icos.png) no-repeat -151px 11px transparent;
}
#designsentry ul li a:hover .ico_grid,#designsentry ul li.selected .ico_grid{
background-position:-151px -29px;
}
#designsentry .ico_footer{
height:28px;
width:25px;
display:inline;
float:left;
overflow:hidden;
background:url(img/icos.png) no-repeat -200px 11px transparent;
}
#designsentry ul li a:hover .ico_footer,#designsentry ul li.selected .ico_footer{
background-position:-200px -29px;
}
#designsentry .ico_hammer{
height:28px;
width:25px;
display:inline;
float:left;
overflow:hidden;
background:url(img/icos.png) no-repeat -51px 11px transparent;
}
#designsentry ul li a:hover .ico_hammer,#designsentry ul li.selected .ico_hammer{
background-position:-51px -29px;
}
#designsentry .ico_users{
height:28px;
width:25px;
display:inline;
float:left;
overflow:hidden;
background:url(img/icos.png) no-repeat -76px 11px transparent;
}
#designsentry ul li a:hover .ico_users,#designsentry ul li.selected .ico_users{
background-position:-76px -29px;
}
#designsentry .ico_user{
height:28px;
width:25px;
display:inline;
float:left;
overflow:hidden;
background:url(img/icos.png) no-repeat -325px 10px transparent;
}
#designsentry ul li a:hover .ico_user,#designsentry ul li.selected .ico_user{
background-position:-325px -30px;
}
#designsentry .ico_social{
height:28px;
width:25px;
display:inline;
float:left;
overflow:hidden;
background:url(img/icos.png) no-repeat -102px 11px transparent;
}
#designsentry ul li a:hover .ico_social,#designsentry ul li.selected .ico_social{
background-position:-102px -29px;
}
#designsentry .ico_add{
height:28px;
width:25px;
display:inline;
float:left;
overflow:hidden;
background:url(img/icos.png) no-repeat -222px 11px transparent;
}
#designsentry ul li a:hover .ico_add,#designsentry ul li.selected .ico_add{
background-position:-222px -29px;
}
#designsentry .ico_puzzle{
height:28px;
width:25px;
display:inline;
float:left;
overflow:hidden;
background:url(img/icos.png) no-repeat -248px 11px transparent;
}
#designsentry ul li a:hover .ico_puzzle,#designsentry ul li.selected .ico_puzzle{
background-position:-248px -29px;
}
#designsentry .ico_earth{
height:28px;
width:25px;
display:inline;
float:left;
overflow:hidden;
background:url(img/icos.png) no-repeat -301px 11px transparent;
}
#designsentry ul li a:hover .ico_earth,#designsentry ul li.selected .ico_earth{
background-position:-301px -29px;
}
#designsentry .ico_stats{
height:28px;
width:25px;
display:inline;
float:left;
overflow:hidden;
background:url(img/icos.png) no-repeat -348px 11px transparent;
}
#designsentry ul li a:hover .ico_stats,#designsentry ul li.selected .ico_stats{
background-position:-348px -29px;
}
#designsentry .ico_gear{
height:28px;
width:25px;
display:inline;
float:left;
overflow:hidden;
background:url(img/icos.png) no-repeat -276px 11px transparent;
}
#designsentry ul li a:hover .ico_gear,#designsentry ul li.selected .ico_gear{
background-position:-276px -29px;
}
#designsentry .ico_input{
height:28px;
width:25px;
display:inline;
float:left;
overflow:hidden;
background:url(img/icos.png) no-repeat -372px 11px transparent;
}
#designsentry ul li a:hover .ico_input,#designsentry ul li.selected .ico_input{
background-position:-372px -29px;
}
#designsentry div h2{
font:22px/22px Georgia, Arial, sans-serif;
margin:20px 0 14px;
float:left;
}
#designsentry div h3{
font:14px/14px Georgia, Arial, sans-serif;
margin:0 0 10px;
}
#designsentry div.setting{
margin:0 auto 10px;
padding:10px;
width:558px;
overflow:hidden;
background:#f6f6f6;
}
/* ---------------------------------------------------------------Forms--------------------------------------------------------------- */
#designsentry input{
font-size:13px;
}
#designsentry input[type=text]{
width:100%;
height:29px;
padding:5px 10px 4px;
margin:0px 0 1px;
background-color:#f5f5f5;
border:1px solid #ffffff;
border-radius:4px;
box-shadow:inset 0 1px 3px #cccccc;
color:#b6b6b6;
text-shadow:1px 1px #ffffff;
outline: none;
}
#designsentry textarea{
width:100%;
padding:6px 10px 6px;
margin:0px 0 1px;
font-size:12px;
background-color:#f5f5f5;
border:1px solid #ffffff;
border-radius:4px;
box-shadow:inset 0 1px 3px #cccccc;
color:#b6b6b6;
text-shadow:1px 1px #ffffff;
outline: none;
}
#designsentry input[type=text]:hover,#designsentry textarea:hover{
background-color:#efefef;
box-shadow:inset 0 2px 2px #cccccc;
color:#9e9e9e;
outline: none;
}
#designsentry input[type=text]:focus,#designsentry textarea:focus{
background-color:#eaeaea;
box-shadow:inset 0 2px 4px #b9b9b9;
color:#818181;
outline: none;
}
/* ---------------------------------------------------------------/Forms--------------------------------------------------------------- */









/*

Uniform Theme: Uniform Default
Version: 1.6
By: Josh Pyles
License: MIT License
---
For use with the Uniform plugin:
http://pixelmatrixdesign.com/uniform/
---
Generated by Uniform Theme Generator:
http://pixelmatrixdesign.com/uniform/themer.html

*/

/* Global Declaration */

#designsentry div.selector, 
#designsentry div.selector span, 
#designsentry div.checker span,
#designsentry div.radio span, 
#designsentry div.uploader, 
#designsentry div.uploader span.action,
#designsentry div.button,
#designsentry div.button span {
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}

#designsentry .selector, 
#designsentry .radio, 
#designsentry .checker, 
#designsentry .uploader,
#designsentry .button, 
#designsentry .selector *, 
#designsentry .radio *, 
#designsentry .checker *, 
#designsentry .uploader *,
#designsentry .button *{
  margin: 0;
  padding: 0;
}

/* INPUT & TEXTAREA */

#designsentry input.text,
#designsentry input.email, 
#designsentry input.password,
#designsentry textarea.uniform {
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 3px;
  color: #777;
  background: url('../images/bg-input-focus.png') repeat-x 0px 0px;
  background: url('../images/bg-input.png') repeat-x 0px 0px;
  border-top: solid 1px #aaa;
  border-left: solid 1px #aaa;
  border-bottom: solid 1px #ccc;
  border-right: solid 1px #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: 0;
}

#designsentry input.text:focus,
#designsentry input.email:focus,
#designsentry input.password:focus,
#designsentry textarea.uniform:focus {
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  border-color: #999;
  background: url('../images/bg-input-focus.png') repeat-x 0px 0px;
}

/* SPRITES */

/* Select */

#designsentry div.selector {
  background-position: -483px -130px;
  line-height: 26px;
  height: 26px;
}

#designsentry div.selector span {
  background-position: right 0px;
  height: 26px;
  line-height: 26px;
}

#designsentry div.selector select {
  /* change these to adjust positioning of select element */
  top: 0px;
  left: 0px;
}

#designsentry div.selector:active, 
#designsentry div.selector.active {
  background-position: -483px -156px;
}

#designsentry div.selector:active span, 
#designsentry div.selector.active span {
  background-position: right -26px;
}

#designsentry div.selector.focus, #designsentry div.selector.hover, #designsentry div.selector:hover {
  background-position: -483px -182px;
}

#designsentry div.selector.focus span, #designsentry div.selector.hover span, #designsentry div.selector:hover span {
  background-position: right -52px;
}

#designsentry div.selector.focus:active,
#designsentry div.selector.focus.active,
#designsentry div.selector:hover:active,
#designsentry div.selector.active:hover {
  background-position: -483px -208px;
}

#designsentry div.selector.focus:active span,
#designsentry div.selector:hover:active span,
#designsentry div.selector.active:hover span,
#designsentry div.selector.focus.active span {
  background-position: right -78px;
}

#designsentry div.selector.disabled {
  background-position: -483px -234px;
}

#designsentry div.selector.disabled span {
  background-position: right -104px;
}

/* Checkbox */

#designsentry div.checker {
  width: 20px;
  height: 20px;
}

#designsentry div.checker input {
  width: 19px;
  height: 19px;
}

#designsentry div.checker span {
  background-position: 0px -260px;
  height: 19px;
  width: 19px;
}

#designsentry div.checker:active span, 
#designsentry div.checker.active span {
  background-position: -19px -260px;
}

#designsentry div.checker.focus span,
#designsentry div.checker:hover span {
  background-position: -38px -260px;
}

#designsentry div.checker.focus:active span,
#designsentry div.checker:active:hover span,
#designsentry div.checker.active:hover span,
#designsentry div.checker.focus.active span {
  background-position: -57px -260px;
}

#designsentry div.checker span.checked {
  background-position: -76px -260px;
}

#designsentry div.checker:active span.checked, 
#designsentry div.checker.active span.checked {
  background-position: -95px -260px;
}

#designsentry div.checker.focus span.checked,
#designsentry div.checker:hover span.checked {
  background-position: -114px -260px;
}

#designsentry div.checker.focus:active span.checked,
#designsentry div.checker:hover:active span.checked,
#designsentry div.checker.active:hover span.checked,
#designsentry div.checker.active.focus span.checked {
  background-position: -133px -260px;
}

#designsentry div.checker.disabled span,
#designsentry div.checker.disabled:active span,
#designsentry div.checker.disabled.active span {
  background-position: -152px -260px;
}

#designsentry div.checker.disabled span.checked,
#designsentry div.checker.disabled:active span.checked,
#designsentry div.checker.disabled.active span.checked {
  background-position: -171px -260px;
}

/* Radio */

#designsentry div.radio {
  width: 19px;
  height: 19px;
}

#designsentry div.radio input {
  width: 18px;
  height: 18px;
}

#designsentry div.radio span {
  height: 18px;
  width: 18px;
  background-position: 0px -279px;
}

#designsentry div.radio:active span, 
#designsentry div.radio.active span {
  background-position: -18px -279px;
}

#designsentry div.radio.focus span, 
#designsentry div.radio:hover span {
  background-position: -36px -279px;
}

#designsentry div.radio.focus:active span,
#designsentry div.radio:active:hover span,
#designsentry div.radio.active:hover span,
#designsentry div.radio.active.focus span {
  background-position: -54px -279px;
}

#designsentry div.radio span.checked {
  background-position: -72px -279px;
}

#designsentry div.radio:active span.checked,
#designsentry div.radio.active span.checked {
  background-position: -90px -279px;
}

#designsentry div.radio.focus span.checked, div.radio:hover span.checked {
  background-position: -108px -279px;
}

#designsentry div.radio.focus:active span.checked, 
#designsentry div.radio:hover:active span.checked,
#designsentry div.radio.focus.active span.checked,
#designsentry div.radio.active:hover span.checked {
  background-position: -126px -279px;
}

#designsentry div.radio.disabled span,
#designsentry div.radio.disabled:active span,
#designsentry div.radio.disabled.active span {
  background-position: -144px -279px;
}

#designsentry div.radio.disabled span.checked,
#designsentry div.radio.disabled:active span.checked,
#designsentry div.radio.disabled.active span.checked {
  background-position: -162px -279px;
}

/* Uploader */

#designsentry div.uploader {
  background-position: 0px -297px;
  height: 28px;
}

#designsentry div.uploader span.action {
  background-position: right -409px;
  height: 24px;
  line-height: 24px;
}

#designsentry div.uploader span.filename {
  height: 24px;
  /* change this line to adjust positioning of filename area */
  margin: 2px 0px 2px 2px;
  line-height: 24px;
}

#designsentry div.uploader.focus,
#designsentry div.uploader.hover,
#designsentry div.uploader:hover {
  background-position: 0px -353px;
}

#designsentry div.uploader.focus span.action,
#designsentry div.uploader.hover span.action,
#designsentry div.uploader:hover span.action {
  background-position: right -437px;
}

#designsentry div.uploader.active span.action,
#designsentry div.uploader:active span.action {
  background-position: right -465px;
}

#designsentry div.uploader.focus.active span.action,
#designsentry div.uploader:focus.active span.action,
#designsentry div.uploader.focus:active span.action,
#designsentry div.uploader:focus:active span.action {
  background-position: right -493px;
}

#designsentry div.uploader.disabled {
  background-position: 0px -325px;
}

#designsentry div.uploader.disabled span.action {
  background-position: right -381px;
}

#designsentry div.button {
  background-position: 0px -523px;
}

#designsentry div.button span {
  background-position: right -643px;
}

#designsentry div.button.focus,
#designsentry div.button:focus,
#designsentry div.button:hover,
#designsentry div.button.hover {
  background-position: 0px -553px;
}

#designsentry div.button.focus span,
#designsentry div.button:focus span,
#designsentry div.button:hover span,
#designsentry div.button.hover span {
  background-position: right -673px; 
}

#designsentry div.button.active,
#designsentry div.button:active {
  background-position: 0px -583px;
}

#designsentry div.button.active span,
#designsentry div.button:active span {
  background-position: right -703px;
  color: #555;
}

#designsentry div.button.disabled,
#designsentry div.button:disabled {
  background-position: 0px -613px;
}

#designsentry div.button.disabled span,
#designsentry div.button:disabled span {
  background-position: right -733px;
  color: #bbb;
  cursor: default;
}

/* PRESENTATION */

/* Button */

#designsentry div.button {
  height: 30px;
}

#designsentry div.button span {
  margin-left: 13px;
  height: 22px;
  padding-top: 8px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-left: 2px;
  padding-right: 15px;
}

/* Select */
#designsentry div.selector {
  width: 290px;
  font-size: 12px;
}

#designsentry div.selector select {
  min-width: 290px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  border: solid 1px #fff;
}

#designsentry div.selector span {
  padding: 0px 25px 0px 2px;
  cursor: pointer;
}

#designsentry div.selector span {
  color: #666;
  width: 258px;
  text-shadow: 0 1px 0 #fff;
}

#designsentry div.selector.disabled span {
  color: #bbb;
}

/* Checker */
#designsentry div.checker {
  margin-right: 5px;
}

/* Radio */
#designsentry div.radio {
  margin-right: 3px;
}

/* Uploader */
#designsentry div.uploader {
  width: 290px;
  cursor: pointer;
}

#designsentry div.uploader span.action {
  width: 85px;
  text-align: center;
  text-shadow: #fff 0px 1px 0px;
  background-color: #fff;
  font-size: 11px;
  font-weight: bold;
}

#designsentry div.uploader span.filename {
  color: #777;
  width: 182px;
  border-right: solid 1px #bbb;
  font-size: 11px;
}

#designsentry div.uploader input {
  width: 290px;
}

#designsentry div.uploader.disabled span.action {
  color: #aaa;
}

#designsentry div.uploader.disabled span.filename {
  border-color: #ddd;
  color: #aaa;
}
/*

CORE FUNCTIONALITY 

Not advised to edit stuff below this line
-----------------------------------------------------
*/

#designsentry .selector, 
#designsentry .checker, 
#designsentry .button, 
#designsentry .radio, 
#designsentry .uploader {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
}

#designsentry .selector select:focus, .radio input:focus, .checker input:focus, .uploader input:focus {
  outline: 0;
}

/* Button */

#designsentry div.button a,
#designsentry div.button button,
#designsentry div.button input {
  position: absolute;
}

#designsentry div.button {
  cursor: pointer;
  position: relative;
}

#designsentry div.button span {
  display: -moz-inline-box;
  display: inline-block;
  line-height: 1;
  text-align: center;
}

/* Select */

#designsentry div.selector {
  position: relative;
  padding-left: 10px;
  overflow: hidden;
}

#designsentry div.selector span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#designsentry div.selector select {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity:0);
  height: 25px;
  border: none;
  background: none;
}

/* Checker */

#designsentry div.checker {
  position: relative;
}

#designsentry div.checker span {
  display: -moz-inline-box;
  display: inline-block;
  text-align: center;
}

#designsentry div.checker input {
  opacity: 0;
  filter: alpha(opacity:0);
  display: inline-block;
  background: none;
}

/* Radio */

#designsentry div.radio {
  position: relative;
}

#designsentry div.radio span {
  display: -moz-inline-box;
  display: inline-block;
  text-align: center;
}

#designsentry div.radio input {
  opacity: 0;
  filter: alpha(opacity:0);
  text-align: center;
  display: inline-block;
  background: none;
}

/* Uploader */

#designsentry div.uploader {
  position: relative;
  overflow: hidden;
  cursor: default;
}

#designsentry div.uploader span.action {
  float: left;
  display: inline;
  padding: 2px 0px;
  overflow: hidden;
  cursor: pointer;
}

#designsentry div.uploader span.filename {
  padding: 0px 10px;
  float: left;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
}

#designsentry div.uploader input {
  opacity: 0;
  filter: alpha(opacity:0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  float: right;
  height: 28px;
  border: none;
  cursor: default;
}
#designsentry .colorpicker {
	width: 356px;
	height: 176px;
	overflow: hidden;
	position: absolute;
	background: url(../images/colorpicker_background.png);
	font-family: Arial, Helvetica, sans-serif;
	display: none;
}
#designsentry .colorpicker_color {
	width: 150px;
	height: 150px;
	left: 14px;
	top: 13px;
	position: absolute;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
}
#designsentry .colorpicker_color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(../images/colorpicker_overlay.png);
}
#designsentry .colorpicker_color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(../images/colorpicker_select.gif);
	margin: -5px 0 0 -5px;
}
#designsentry .colorpicker_hue {
	position: absolute;
	top: 13px;
	left: 171px;
	width: 35px;
	height: 150px;
	cursor: n-resize;
}
#designsentry .colorpicker_hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(../images/colorpicker_indic.gif) left top;
	margin: -4px 0 0 0;
	left: 0px;
}
#designsentry .colorpicker_new_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 213px;
	top: 13px;
	background: #f00;
}
#designsentry .colorpicker_current_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 283px;
	top: 13px;
	background: #f00;
}
#designsentry .colorpicker input {
	background-color: transparent;
	border: 1px solid transparent;
	position: absolute;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #898989;
	top: 4px;
	right: 11px;
	text-align: right;
	margin: 0;
	padding: 0;
	height: 11px;
}
#designsentry .colorpicker_hex {
	position: absolute;
	width: 72px;
	height: 22px;
	background: url(../images/colorpicker_hex.png) top;
	left: 212px;
	top: 142px;
}
#designsentry .colorpicker_hex input {
	right: 6px;
}
#designsentry .colorpicker_field {
	height: 22px;
	width: 62px;
	background-position: top;
	position: absolute;
}
#designsentry .colorpicker_field span {
	position: absolute;
	width: 12px;
	height: 22px;
	overflow: hidden;
	top: 0;
	right: 0;
	cursor: n-resize;
}
#designsentry .colorpicker_rgb_r {
	background-image: url(../images/colorpicker_rgb_r.png);
	top: 52px;
	left: 212px;
}
#designsentry .colorpicker_rgb_g {
	background-image: url(../images/colorpicker_rgb_g.png);
	top: 82px;
	left: 212px;
}
#designsentry .colorpicker_rgb_b {
	background-image: url(../images/colorpicker_rgb_b.png);
	top: 112px;
	left: 212px;
}
#designsentry .colorpicker_hsb_h {
	background-image: url(../images/colorpicker_hsb_h.png);
	top: 52px;
	left: 282px;
}
#designsentry .colorpicker_hsb_s {
	background-image: url(../images/colorpicker_hsb_s.png);
	top: 82px;
	left: 282px;
}
#designsentry .colorpicker_hsb_b {
	background-image: url(../images/colorpicker_hsb_b.png);
	top: 112px;
	left: 282px;
}
#designsentry .colorpicker_submit {
	position: absolute;
	width: 22px;
	height: 22px;
	background: url(../images/colorpicker_submit.png) top;
	left: 322px;
	top: 142px;
	overflow: hidden;
}
#designsentry .colorpicker_focus {
	background-position: center;
}
#designsentry .colorpicker_hex.colorpicker_focus {
	background-position: bottom;
}
#designsentry .colorpicker_submit.colorpicker_focus {
	background-position: bottom;
}
#designsentry .colorpicker_slider {
	background-position: bottom;
}
#designsentry .color_switch{
height:15px;
width:15px;
display:block;
float:left;
border-radius:3px;
margin: 0 8px 0 1px;
background:url(img/nobcg.png) no-repeat scroll 1px 1px #fff;
}
#designsentry .radiox label{
padding-top:4px;
}
#designsentry label{
font-size:12px;
font-weight: bold;
display:block;
float:left;
margin:0 16px 0 0;
}
#designsentry .checkx label{
padding-top:4px;
}
#designsentry .checkz label{
padding-top:4px;
float:none;
}
.colorpicker {
	width: 356px;
	height: 176px;
	overflow: hidden;
	position: absolute;
	background: url(../images/colorpicker_background.png);
	font-family: Arial, Helvetica, sans-serif;
	display: none;
}
.colorpicker_color {
	width: 150px;
	height: 150px;
	left: 14px;
	top: 13px;
	position: absolute;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
}
.colorpicker_color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(../images/colorpicker_overlay.png);
}
.colorpicker_color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(../images/colorpicker_select.gif);
	margin: -5px 0 0 -5px;
}
.colorpicker_hue {
	position: absolute;
	top: 13px;
	left: 171px;
	width: 35px;
	height: 150px;
	cursor: n-resize;
}
.colorpicker_hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(../images/colorpicker_indic.gif) left top;
	margin: -4px 0 0 0;
	left: 0px;
}
.colorpicker_new_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 213px;
	top: 13px;
	background: #f00;
}
.colorpicker_current_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 283px;
	top: 13px;
	background: #f00;
}
.colorpicker input {
	background-color: transparent;
	border: 1px solid transparent;
	position: absolute;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #898989;
	top: 4px;
	right: 11px;
	text-align: right;
	margin: 0;
	padding: 0;
	height: 11px;
}
.colorpicker_hex {
	position: absolute;
	width: 72px;
	height: 22px;
	background: url(../images/colorpicker_hex.png) top;
	left: 212px;
	top: 142px;
}
.colorpicker_hex input {
	right: 6px;
}
.colorpicker_field {
	height: 22px;
	width: 62px;
	background-position: top;
	position: absolute;
}
.colorpicker_field span {
	position: absolute;
	width: 12px;
	height: 22px;
	overflow: hidden;
	top: 0;
	right: 0;
	cursor: n-resize;
}
.colorpicker_rgb_r {
	background-image: url(../images/colorpicker_rgb_r.png);
	top: 52px;
	left: 212px;
}
.colorpicker_rgb_g {
	background-image: url(../images/colorpicker_rgb_g.png);
	top: 82px;
	left: 212px;
}
.colorpicker_rgb_b {
	background-image: url(../images/colorpicker_rgb_b.png);
	top: 112px;
	left: 212px;
}
.colorpicker_hsb_h {
	background-image: url(../images/colorpicker_hsb_h.png);
	top: 52px;
	left: 282px;
}
.colorpicker_hsb_s {
	background-image: url(../images/colorpicker_hsb_s.png);
	top: 82px;
	left: 282px;
}
.colorpicker_hsb_b {
	background-image: url(../images/colorpicker_hsb_b.png);
	top: 112px;
	left: 282px;
}
.colorpicker_submit {
	position: absolute;
	width: 22px;
	height: 22px;
	background: url(../images/colorpicker_submit.png) top;
	left: 322px;
	top: 142px;
	overflow: hidden;
}
.colorpicker_focus {
	background-position: center;
}
.colorpicker_hex.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_submit.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_slider {
	background-position: bottom;
}
.color_switch{
height:15px;
width:15px;
display:block;
float:left;
border-radius:3px;
margin: 0 8px 0 1px;
}
.radiox label{
padding-top:4px;
}
label{
font-size:12px;
font-weight: bold;
display:block;
float:left;
margin:0 16px 0 0;
}
.checkx label{
padding-top:4px;
}
.checkz label{
padding-top:4px;
float:none;
}


/*
 * jQuery UI Slider 1.8.7
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Slider#theming
 */
#designsentry .ui-slider { position: relative; text-align: left; background: #d7d7d7; }
#designsentry .ui-slider { -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset; -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset; }
#designsentry .ui-slider .ui-slider-handle { background: url(images/slider_handles.png) 0px -23px no-repeat; position: absolute; z-index: 2; width: 23px; height: 23px; cursor: default; border: none; outline: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
#designsentry .ui-slider  .ui-state-hover, .ui-slider  .ui-state-active { background-position: 0 0; }
#designsentry .ui-slider .ui-slider-range { background: #a3cae0; position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }
#designsentry .ui-slider .ui-slider-range { -moz-box-shadow: 0 1px 2px rgba(17,35,45,0.6) inset; -webkit-box-shadow: 0 1px 2px rgba(17,35,45,0.6) inset; }


#designsentry .ui-slider-horizontal { height: 5px; }
#designsentry .ui-slider-horizontal .ui-slider-handle { top: -8px; margin-left: -13px; }
#designsentry .ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
#designsentry .ui-slider-horizontal .ui-slider-range-min { left: 0; }
#designsentry .ui-slider-horizontal .ui-slider-range-max { right: 0; }

#designsentry .ui-slider-vertical { width: 5px; height: 100px; }
#designsentry .ui-slider-vertical .ui-slider-handle { left: -8px; margin-left: 0; margin-bottom: -13px; }
#designsentry .ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
#designsentry .ui-slider-vertical .ui-slider-range-min { bottom: 0; }
#designsentry .ui-slider-vertical .ui-slider-range-max { top: 0; }



#designsentry .ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
#designsentry .hidden { display: none; visibility: hidden; }
#designsentry .visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
#designsentry .visuallyhidden.focusable:active,
#designsentry .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
#designsentry .invisible { visibility: hidden; }
#designsentry .clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
#designsentry .clearfix:after { clear: both; }
#designsentry .clearfix { zoom: 1; }

#designsentry .columnbox{
height:140px;
}
#designsentry .eq{
height:140px;
margin-left:1px;
}
#designsentry .ui-slider-range{
border-radius:0 0 3px 3px;
}
#designsentry .columnbox span{
float:left;
height:120px;
margin:6px 23px 5px 21px;
border-radius:3px;
}
#designsentry .columnboxdesc{
display:block;
float:left;
}
#designsentry .columnboxdescsum{
float:left;
display:block;
clear:both;
margin:0 0 4px 7px;
font-family:Georgia,serif;
}
#designsentry .columnboxdesc input[type="text"]{
float:left;
display:block;
margin:7px 6px 11px 6px;
width:37px;
text-align:center;
}
#designsentry .button_save{
float:right;
}
#designsentry .button_reset{
float:left;
padding:20px 0 0;
clear:left;
}
div.updated, div.error{
margin:13px 21px 0 0;
}
.toplogo{
margin:-9px 0 7px 0;
}